<div class="container-fluid ">
    <div class="row mt-4 ">
        <div class="col-md-12">
            <div class="card-columns">

                <div class="col-md-12 ">

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/images/iphone.png" alt="Card image cap">
                        <div class="card-body">
                            <h1 class="card-title">iPhone 12 Pro Max</h1>
                            <p class="card-text">512 GB ROM
                                17.02 cm (6.7 inch) Super Retina XDR Display
                                12MP + 12MP + 12MP | 12MP Front Camera
                                A14 Bionic Chip with Next Generation Neural Engine Processor</p>
                            <a class="btn btn-outline-primary btn-block">Buy</a>
                            <a class="btn btn-outline-success btn-block">1,59,900/-</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top mt-2" src="assets/images/note 9 pro max.png" alt="Card image cap">
                        <div class="card-body">
                            <h1 class="card-title">Redmi note 9 Pro Max</h1>
                            <p class="card-text">6 GB RAM | 64 GB ROM | Expandable Upto 512 GB
                                16.94 cm (6.67 inch) Full HD+ Display
                                5020 mAh Lithium Polymer Battery
                                Qualcomm Snapdragon 720G Processo</p>
                            <a class="btn btn-outline-primary btn-block">Buy</a>
                            <a class="btn btn-outline-success btn-block">14,999/-</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top  mt-2" src="assets/images/OnePlus-9-Pro.png" alt="Card image cap">
                        <div class="card-body">
                            <h1 class="card-title">OnePlus 9 Pro</h1>
                            <p class="card-text">512 GB ROM
                                17.02 cm (6.7 inch) Super Retina XDR Display
                                12MP + 12MP + 12MP | 12MP Front Camera
                                A14 Bionic Chip with Next Generation Neural Engine Processor</p>
                            <a class="btn btn-outline-primary btn-block">Buy</a>
                            <a class="btn btn-outline-success btn-block">56,000/-</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/images/Dell G5 15 SE.png" alt="Card image cap">
                        <div class="card-body">
                            <h1 class="card-title">Dell G5 15 SE</h1>
                            <p class="card-text">15.6 inch Full HD LED Backlit Anti-glare IPS Display
                                Light Laptop without Optical Disk Drive
                                Pre-installed Genuine Windows 10 OS</p>
                            <a class="btn btn-outline-primary btn-block">Buy</a>
                            <a class="btn btn-outline-success btn-block">77,900/-</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/images/mac.png" alt="Card image cap">
                        <div class="card-body">
                            <h1 class="card-title">iPhone 12 Pro Max</h1>
                            <p class="card-text">Stylish & Portable Thin and Light Laptop
                                13.3 inch Quad HD LED Backlit IPS Retina Display (227 ppi, 16:10 Aspect Ratio, True Tone
                                Technology)
                                Finger Print Sensor for Faster System Access
                                Light Laptop without Optical Disk Drive</p>
                            <a class="btn btn-outline-primary btn-block">Buy</a>
                            <a class="btn btn-outline-success btn-block">1,09,900/-</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/images/iphone.png" alt="Card image cap">
                        <div class="card-body">
                            <h1 class="card-title">iPhone 12 Pro Max</h1>
                            <p class="card-text">512 GB ROM
                                17.02 cm (6.7 inch) Super Retina XDR Display
                                12MP + 12MP + 12MP | 12MP Front Camera
                                A14 Bionic Chip with Next Generation Neural Engine Processor</p>
                            <a class="btn btn-outline-primary">Buy</a>
                            <a class="btn btn-outline-success ml-2">1,59,900/-</a>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>


</div>
